<div class="body">
  <div class='title-contents'>
    <h2 class='service-title'>
      お気に入りのお店が必ず見つかる
    </h2>
    <p class='service-explain'>
      誰でも自分のオススメの古着屋を紹介でき、
    </p>
    <p class='service-explain'>
      あなたの好きなブランドを扱うお店に出会うアプリです★
    </p>
    <div class='store-btn'>
     
    </div>
  </div>
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.nickname}さん★", "/users/#{current_user.id}", class: :greeting__link %>
      </div>
    <% end %>
    <div class="inner">
      <%= form_with(url: search_shops_path, local: true, method: :get, class: "search_form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ブランド名を入力", class: "search_input" %>
      <%= form.submit "検索", class: "search_btn" %>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'shop', collection: @shops %>
    </div>
  </div>
</div>

