
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.nickname}さん★", "/users/#{current_user.id}", class: :greeting__link %>
      </div>
    <% end %>
    <%= form_with(url: search_shops_path, local: true, method: :get, class: "search_form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search_input" %>
      <%= form.submit "検索", class: "search_btn" %>
    <% end %>
    <div class="card__wrapper">
      <% @shops.each do |shop| %>
        <%= render partial: "shop", locals: { shop: shop } %>
      <% end %>
    </div>
  </div>
